<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Ecommerce site automation" parallel="false">

<listeners>
<listener class-name="com.as.ExtendReportListener.ExtentReportListener">
</listener> 
</listeners>

    <test name="sai pratap ecommerce app test cases">
        <classes>
            <class name="com.as.testCases.LoginPageTest" />
            
        </classes>
    </test>
   
</suite>
 